<mat-sidenav-container class="example-container">
    <mat-sidenav mode="over" [fixedInViewport]="true" opened mode="side">
      <mat-accordion>
        <a mat-button style="text-align: center" [routerLink]="['/home']" >
          <mat-icon>home</mat-icon>
        </a>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title> Application </mat-panel-title>
            <mat-panel-description style="text-align: center">
              Application for keeping records ...
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-nav-list>
            <a mat-raised-button color="primary" [routerLink]="['/bank']">Bank</a>
          </mat-nav-list>
          <mat-nav-list>
            <a mat-raised-button color="primary" [routerLink]="['/user']">User</a>
          </mat-nav-list>
          <mat-nav-list>
            <a mat-raised-button color="primary" [routerLink]="['/branch']">Branch</a>
          </mat-nav-list>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title style="text-align: left"
              >Informations</mat-panel-title>
            <mat-panel-description style="text-align: center">
              Basic information about the application
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-nav-list>
            <a mat-button [routerLink]="['/about']">About us</a>
          </mat-nav-list>
          <mat-nav-list>
            <a mat-button [routerLink]="['/author']">Author</a>
          </mat-nav-list>
          <mat-nav-list>
            <a mat-button [routerLink]="['/home']">Home page</a>
          </mat-nav-list>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-sidenav>
    <router-outlet></router-outlet>
  </mat-sidenav-container>