<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="author.component.css" />

<div class="container">
  <div class="title-wrapper">
    <h1 class="title">Author <mat-icon class="icon">person</mat-icon></h1>
  </div>

  <div class="profile-wrapper">
    <img src="assets/Mocke.jpg" alt="jovanmiletaski" class="profile-image" />
    <div class="info-wrapper">
      <h2 class="name">Jovan Curcin Miletaski</h2>
      <p class="bio">Student Inženjerstva informacionih sistema</p>
      <p class="contact"><mat-icon class="icon">email</mat-icon> jovanmiletaski@gmail.com</p>
      <p class="birthdate"><mat-icon class="icon">cake</mat-icon> Datum rođenja: 22. januar 2002.</p>
      <p class="university"><mat-icon class="icon">school</mat-icon> Fakultet: Fakultet Tehničkih nauka, Novi Sad</p>
      <p class="about-me">Interesuje me razvoj softvera, dizajn, data science. Jedan od mojih hobija je fudbal.</p>
      <p class="social">
        <a href="https://www.instagram.com/jovan__miletaski/" target="_blank">
            <i class="fab fa-instagram fa-2x" style="color: #ac2bac;"></i> Instagram
        </a>
      </p>
    </div>
  </div>
</div>