<div class="container">
    <div class="title-wrapper">
      <h1 class="title">About<mat-icon class="icon">info</mat-icon></h1>
    </div>
  <!-- <div class="container">
    <mat-toolbar class="title-wrapper">
      <span class="title">About</span>
      <mat-icon class="icon">info</mat-icon>
    </mat-toolbar> -->
    <div class="content-wrapper">
      <div class="about-text">
        <h2>About app</h2>
        <p>This application enables the management of records for banks, their branches, and customers. The goal of the application is to facilitate data management and provide users with an intuitive and efficient solution for tracking all relevant information.</p>
        <h3>Functionalities</h3>
        <ul>
          <li>Adding and Updating Bank Data</li>
          <li>Tracking Branch Information</li>
          <li>Managing User Accounts</li>
          <li>Tracking Executed Banking Services</li>
        </ul>
      </div>
      <div class="image-wrapper">
        <img src="https://cdn.vectorstock.com/i/1000v/72/97/bank-icon-vector-25177297.jpg" alt="Bank Image" class="about-image">
      </div>
    </div>
  </div>